@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}
body {
    background: #e3e9f7;
    font-family: sans-serif;
    text-transform: capitalize;
}

/* ===================Navbar========================= */

img {
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.logo {
    width: 220px;
    margin-top: 8px;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #212526;
    display: block;
    margin: 0 3px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    background: #4dd1c2;
}

nav ul li a.active {
    background: #FFCF53;
    color: #000;
}

.hamburger {
    display: none; 
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background: #f6f4ff;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }
}

/* ===================Formulario========================= */

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-2: #FEF9E7;
    --color-btn: #2196F3;
    --color-header-step: rgb(247, 130, 20);
    --color-shadow: #222;
    --color-border-input: #ddd;
}
/* Contenedor principal */
.root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(img/fondo-formulario-adopcion.jpg);
    overflow: hidden;
}

/* Formulario */
.form-register {
    padding: 20px 15px;
    width: 100%;
    max-width: 800px;
}

/* Header del formulario */

/* Progressbar */
.progressbar {
    display: flex;
    list-style: none;
    margin-bottom: 15px;
    counter-reset: step;
}

.progressbar__option {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
    position: relative;
}

.progressbar__option:before {
    display: flex;
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 0 auto 5px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}


.progressbar__option:after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: -50%;
    z-index: 1;
}

.progressbar__option:first-child:after {
    content: none;
}

.progressbar__option.active:before, .progressbar__option.active:after {
    background-color: var(--color-header-step);
}

/* Título del formulario */
.form-register__title {
    color: white;    
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
    background-color:var(--color-header-step);
    border-radius: 3px;
}

/* body del formulario */
.form-register__body {
    display: flex;
    align-items: flex-start;
}

/* step */
.step {
    background-color: white;
    box-shadow: 5px 5px 5px 2px var(--color-shadow);
    border-radius: 3px;
    min-width: 100%;
    opacity: 0;
    transition: all .2s linear;
}

.step.active {
    opacity: 1;
}

.step.to-left {
    margin-left: -100%;
}

.step.inactive {
    animation-name: scale;
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* header de step */
.step__header {
    padding: 20px 15px;
    background-color: var(--color-header-step);
    border-radius: 3px 3px 0 0;
}

.step__title {
    font-size: 1.1rem;
    text-align: center;
}

/* body de step */
.step__body {
    padding: 20px 15px 0;
}

/* step inputs */
.step__input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid var(--color-border-input);
}

/* step footer */
.step__footer {
    padding: 20px 15px;
    text-align: center;
}

/* step botones */
.step__button {
    display: inline-block;
    padding: 10px;
    background-color: var(--color-btn);
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(8, 115, 181);
}

/* ======================= Footer ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

.footer {
    background-image: url(img/contacto-fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 50vh;
    align-items: center;
}

.contacto{
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #fff;
    padding: 80px 0;
}

.contacto-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 50px;
    font-weight: 700;
    border-bottom: 5px solid #FFCF53;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #555555;
    display: block;
    margin-bottom: 30px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #000000;
    padding-left: 10px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #444444;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: #FFCF53;
}

/* Responsive */
@media(max-width:991px){

    .contacto-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}    

